*.classpath
*.project
*.settings
semantic.cache*
nbproject
FreeCol.log
FreeCol.jar
src/MANIFEST.MF
test/data
build/TEST-net.sf.freecol.AllTests.txt
build/dependencies.txt
build/net/
build/svn.properties
