---
  layout: default
---
<section>
    <article>
        <h2 class="contentheading">{{ page.title }}</h2>
        <table class="contentpaneopen">
            <tr>
                <td valign="top" class="createdate">
                    {{ page.date | date: "%A, %Y-%m-%d" }}
                </td>
                <td valign="top" align="right" class="createdate">
                    {{ page.author }}
                </td>
            </tr>
            <tr>
                <td valign="top" colspan="2">
{{ content }}
                </td>
            </tr>
        </table>
    </article>
    <nav>
        <table align="center" style="margin-top: 25px;">
            <tr>
                <th class="pagenav_prev">
                    {% if page.previous %}<a href="{{ page.previous.url }}" rel="prev">{% endif %}&lt; Prev{% if page.previous %}</a>{% endif %}
                </th>
                <td width="50">&nbsp;
                </td>
                <th class="pagenav_next">
                    {% if page.next %}<a href="{{ page.next.url }}" rel="next">{% endif %}Next &gt;{% if page.next %}</a>{% endif %}
                </th>
            </tr>
        </table>
    </nav>
</section>
