body{
/* background: #FFF url(../images/back_verlauf.jpg) repeat-x top; */
background: #FFF url(../images/top-bg.jpg) repeat-x top;
}

#header {
/* background: #FFF url(../images/back_verlauf.jpg) repeat-x top; */ 
/*background: #FFF repeat-x top;*/
background: #FFF url(../images/top-bg.jpg) repeat-x top;
 }
 
#search {
background: url(../images/back_search.jpg) right top no-repeat;
}

#outer-800 {
background: transparent url(../images/content-top.gif) no-repeat top;
}

#outer-1024 {
background: transparent url(../images/content-top1024.gif) no-repeat top;
}

#banner {
/* background: url(../images/banner_back.jpg) no-repeat; */
}

a, #search .inputbox, #search .button{
color: #555555;
}

h4 {
color: #555555;
text-decoration: underline;
font-size: 12px;
}

div.module h3 {
color: #555555;
border-bottom: 1px solid #555555;
}

.trLine td {
border-bottom: 1px dotted #555555;
}

ul#mainlevel-nav li{
/* background: url(../images/headmenu_left.gif) bottom left no-repeat;	*/
}

ul#mainlevel-nav li a{
/* background: url(../images/headmenu_right.gif) bottom right no-repeat; */
}


ul#mainlevel-nav li:hover, ul#mainlevel-nav li.sfhover {
/* background: url(../images/headmenu_left_hover.gif) bottom left no-repeat; */
}

ul#mainlevel-nav li:hover a, ul#mainlevel-nav li.sfhover a{
/* background: url(../images/headmenu_right_hover.gif) bottom right no-repeat; */
}

#maincol-normal-800 div.moduletable h3, #maincol-wide-800 div.moduletable h3, #maincol-broad-800 div.moduletable h3,#maincol-normal-1024 div.moduletable h3, #maincol-wide-1024 div.moduletable h3, #maincol-broad-1024 div.moduletable h3{
background: url(../images/module_head_back.jpg) repeat-x;
}

a.mainlevel {
color: #555555;
}

a.mainlevel:hover, a.mainlevel#active_menu {
/*#669E83*/
border-right: 4px solid #555555;
}

a.sublevel {
color: #555555;
/*background: url(../images/submenu_back.gif) left center no-repeat;*/
}

a.sublevel:hover, a.sublevel#active_menu {
/* background: #F1F1F1 url(../images/submenu_back.gif) left center no-repeat; */
border-right: 4px solid #555555;
}

.contentheading {
/* 005E31 */
border-bottom: 1px solid #555555;
color: #555555;
}

a.readon:hover {
background: #EEEEEE url(../images/readon.gif) no-repeat left;
}

a.readon {
background: url(../images/readon.gif) no-repeat left;
}

table.contentpane td.contentheading {
color: #555555;
}

table.contentpaneopen {
width: 100%;
}

img {
border: 0;
}

.graded_block {
    width: 489px;
    height: 64px;
    background: transparent url(../images/graded_block.png);
    margin-top: 20px;
    margin-bottom: 20px;
}


table.contentpane ul li{
background: url(../images/readon2.gif) no-repeat left top;
}

.componentheading {
border-bottom: 1px solid #555555;
color: #555555;
}

.blog_more ul li{
background: url(../images/readon.gif) no-repeat left;
}
