                            <!-- Here is the download button.
                                 Move it to the new release! -->
                            <div align="left">&nbsp;</div>
                            <table border="0"><tbody><tr><td><a href="../download.html"><img src="../images/download2.png" border="0" alt="" /></a></td><td><strong><em>
                                <a href="../download.html">Download FreeCol</a>
                            </em></strong></td></tr></tbody></table>
                            <!-- End of download button -->
